.splitter-1 {
  .resizer {
    position: absolute;
    left: 100%;
    z-index: 20;
    height: 100%;
    width: 5px;
    cursor: e-resize;

    &.dragging {
      background: #1e62d080;
      border-right: 2px dashed #cccccc6e;
      box-shadow: 2px 0px 6px #003effb8;
    }
  }
}
