

.merged-buttons.column{
  display: flex;
  flex-flow: column nowrap;
}
.merged-buttons.column button{
  border-radius: 0;
  margin: var(--buttons-margin);
  margin-top: 0;
  margin-bottom: 0;
}
.merged-buttons.column button:first-of-type{
  border-radius: var(--buttons-radius) var(--buttons-radius) 0 0;
  margin-top: var(--buttons-margin);
}
.merged-buttons.column button:last-of-type{
  border-radius: 0 0 var(--buttons-radius) var(--buttons-radius);
  margin-bottom: var(--buttons-margin);
}

.merged-buttons.row{
  display: flex;
  flex-flow: row nowrap;
}
.merged-buttons.row button{
  border-radius: 0;
  margin: var(--buttons-margin);
  margin-right: 0;
  margin-left: 0;
}
.merged-buttons.row button:first-of-type{
  border-radius: var(--buttons-radius) 0 0 var(--buttons-radius);
  margin-left: var(--buttons-margin);
}
.merged-buttons.row button:last-of-type{
  border-radius: 0 var(--buttons-radius) var(--buttons-radius) 0;
  margin-right: var(--buttons-margin);
}




