
.subtools-container {
  font-size: 0.9em;
  position: absolute;
  top: 0;
  right: 60px;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  #subtools-zoom-btn {
    
    $rr-width: 25px;
    padding-right: $rr-width;
    position: relative;
    #subtools-zoom-rr {
      display: none;
      &:checked + #label-zoom-rr {
        opacity: 1;
      }
    }

    #label-zoom-rr {
      position: absolute;
      border-radius: 0;
      opacity: 0.8;
      padding: 3px 3px;
      top: 0;
      bottom: 0;
      right: 0;
      width: $rr-width;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .5;

    }
  }

  button {
    padding: 0;
    border-radius: var(--buttons-radius);
    margin: var(--buttons-margin);
    font-size: 1.1em;
    transition: background 0.5s;

    > label {
      padding: 5px 10px;
      display: inline-block;
    }
  }

  input[type*="radio"] {
    display: none;

    &:checked + button {
      background: var(--primary2-background);
      color: var(--primary2-color);
    }
  }
}